a:hover {
  color: #2D7FBC;
}

h1 {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -2.5px;
  position: relative;
}

h3 {
  color: #083452;
  font-family: Oswald;
}


h2 {
  color: #083452;
  font-family: 'Oswald' sans-serif;
  font-size: 3.9rem;
  font-weight: 300;
  /*line-height: 1em;*/
  letter-spacing: -4.1px;
  margin: 0;
}

img {
  opacity: 0.8;
  background-blend-mode: overlay;
  background-color: #10579C;
}

article h5 {
  padding-left: 10%;
  color: #083452;
  font-family: Oswald;
  font-size: 20px;
  border-left: 5px solid #E8EDEF;
}

.side img {
  border-radius: 50%;
  background-color: #10579C;
  background-blend-mode: overlay;
}

.side {
  text-align: center;
  padding-top: 75px;
}

.sidebar h4 {
  color: #106DB3;
}

.bio {
  text-align: left;
}

.author-image {
  text-align: right;
}

div.author-image {
  width: 100%;
}

.aside-links {
  text-decoration: none;
  list-style-type: none;
  font-family: Open Sans;
  color: #CFD7DE;
  font-size: 13px;
  padding: 3px;
  }

.date {
    display: inline-block;
    vertical-align: middle;
  }

.aside-link {
    list-style-type: none;
    font-family: Open Sans;
    color: #CFD7DE;
    font-size: 13px;
    text-align: right;
    display: inline-block;
    }

.sidebar {
  font-family: Open Sans;
  color: #CFD7DE;
  float: right;
  width: 265px;
  max-width: 260px;
  padding-right: 165px;
  display: inline-block;
}

article {
  display: inline-block;
  float: left;
  width: 610px;
  max-width: 600px;
  padding-left: 166px;
}

article img {
  display: inline-block;
  vertical-align: middle;
}

article h6 {
  display: inline-block;
  vertical-align: middle;
  color: #083452;
  font-family: Open Sans;
  font-size: 13px;
}

.bio {
  vertical-align: middle;
}

article div {
  display: inline-block;
  font-family: Open Sans;
  color: #CFD7DE;
  font-size: 13px;
}

.image-links {
  clear:both;
  display: inline-block;
}

.comment-icon {
  background-color: #5E686F;
}

.comment-link {
  background-color: #A3B3BF;
  float: right;
}


.read-icon {
  background-color: #5E686F;
}

.read-link {
  background-color: #A3B3BF;
  float: right;
}

.share-icon {
  background-color: #5E686F;
}

.share-link {
  background-color: #A3B3BF;
  float: right;
}


.article-link-a {
  font-family: Open Sans;
  color: #CFD7DE;
  font-size: 13px;
}

article p {
  /*font-family: Open Sans;*/
  font-size: 13px;
}


p {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
}

.body-link {
  list-style: type;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Open Sans;
}

footer {
  background: #083452;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  clear: both;
  height: 98px;
  padding-left: 166px;
  padding-right: 166px;
}

.popular {
  clear: both;
}

.popular h3 {
  text-align: center;
  color: #083452;
  font-family: Oswald;
  border-top: solid 1px #E8EDEF;
}

.popular h5 {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.popular img {
  width: 100%;
  opacity: 0.8;
  background-color: #10579C;
  background-blend-mode: overlay;
}

.popular-images {
  float: left;
  text-decoration: none;
  font-family: Oswald;
  color: #083452;
  position: relative;
  width: 25%;
}


.another-div {
  position: relative;
  bottom: 1rem;
  left: 1rem;
}


footer div {
  float: left;
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

.footer ul {
  list-style-type: none;
}

nav.footer {
  float: right;
}


.foot-links {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  display: inline-block;
}

footer h6 {
  display: inline-block;
  vertical-align: middle;
}

footer img {
  vertical-align: middle;
}

header img {
  display: inline;
  vertical-align: middle;
  border-radius: 50%;
}

header h5 {
  vertical-align: middle;
  display: inline-block;
  padding-left: 0.5em;
}

header div {
  float: left;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

.top-links {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: #083452;
}

.top {
  float: right;
  margin-top: -1.25rem;
  font-weight: 100;
  font-size: 19.5px;
  font: 'Open Sans', sans-serif;
  letter-spacing: -.1rem;
}

.top ul{
  display: inline-block;
  list-style-type: none;
  /*float: right;*/
}

header {
  padding: 16px 163px 0 131px;
  font-size: 20px;
  color: #083452;
  background-size: cover;
  background-image: url("http://tidalvisionusa.com/wp-content/uploads/2015/05/ocean-floor-background.png");
  opacity: 0.8;
  background-color: #10579C;
  background-blend-mode: overlay;
  height: 508px;
  margin: 0;
}

header:hover {
  background-color: transparent;
}

hgroup h6 {
    margin: -4.9rem;
    position: relative;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: -1.8px;
}

hgroup {
  vertical-align: middle;
  margin-top: 12rem;
  text-align: center;
}


.first-header {
  margin-top: -1.25rem;
  font-weight: 100;
  font-size: 20px;
  font: 'Open Sans', sans-serif;
  letter-spacing: -.05rem;
}
